<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Origin" value="Sydney"/>
    <add key="Destination" value="Gold Coast"/>
    <add key="UserEmail" value="neill.white220@gmail.com"/>
    <add key="UserPassword" value="Lolkek_228"/>
    <add key="IncorrectUserEmail" value="lolikakakds"/>
    <add key="IncorrectUserPassword" value="kek"/>
  </appSettings>
</configuration>
