<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PickUpCountry" value="FR"/>
    <add key="PickUpCity" value="1475-PARISPU"/>
    <add key="PickUpPlace" value="2091"/>
    <add key="ReturnCountry" value="DE"/>
    <add key="ReturnCity" value="729-BERLINDO"/>
    <add key="ReturnPlace" value="1017"/>
  </appSettings>
</configuration>
