<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Origin" value="Sydney"/>
    <add key="Destination" value="Gold Coast"/>
    <add key="DepartingTime" value=""/>
    <add key="LastName" value="German"/>
    <add key="FirstName" value="Roman"/>
    <add key="FirstNameNull" value=""/>
    <add key="BirthDay" value="3"/>
    <add key="BirthMonth" value="6"/>
    <add key="BirthYear" value="1999"/>
    <add key="DocNum" value="AB2987939"/>
    <add key="DocDay" value="4"/>
    <add key="DocMonth" value="5"/>
    <add key ="DocYear" value ="1994"/>
    <add key="NewPassword" value="2025qwersa"/>
    <add key="RepeatNewPassword" value="2025qwersa"/>
    <add key="NewPasswordNull" value=""/>
    <add key="Email" value="lal2rublya@gmail.com"/>
  </appSettings>
</configuration>
